* {
	margin: 0;
	padding: 0;
	 font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/* start login page  */
.login_outer {
	display: block;
}
.login_outer .login-bg-img {
	position: relative;
	width: 100%;
	height: auto;
}
.login_outer .form-outer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 610px;
	height: 624px;
	border: 1px;
	border-radius: 30px;
	padding: 50px 60px 60px 60px;
	background-color: #ffffff;
}
.login_outer .form-outer .form-inner {
	display: block;
}
.login_outer .form-outer .form-inner .form-logo {
	display: block;
	height: 64px;
	width: 116px;
	margin: 0 auto;
}
.login_outer .form-outer .form-inner .form-item {
	display: block;
}
.login_outer .form-outer .form-inner .form-item h2 {
	display: flex;
	color: #111827;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -0.5%;
	justify-content: center;
	align-content: center;
	text-transform: capitalize;
	margin-bottom: 6px;
}
.login_outer .form-outer .form-inner .form-item p {
	display: flex;
	justify-content: center;
	align-content: center;
	color: #4B5563;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 52px;
}
.login_outer .form-outer .form-inner .form-item form {
	display: block;
}
.login_outer .form-outer .form-inner .form-item form label {
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #1F2937;
	margin-left: 6px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.login_outer .form-outer .form-inner .form-item form .emailtext {
	display: block;
	border: none;
	width: 490px;
	height: 52px;
	padding: 6px 14px 6px 14px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
	background-color: #F9FAFB;
	border-radius: 12px;
}
.login_outer .form-outer .form-inner .form-item form .input-wrapper {
  position: relative;
  width: fit-content; 
}
.login_outer .form-outer .form-inner .form-item form .input-wrapper .passwordtext{
	display: block;
	border: 1px solid #E5E7EB;	
	width: 490px;
	height: 52px;
	padding: 6px 14px 6px 14px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	border-radius: 12px;
	margin-bottom: 30px;
	background-color: #F9FAFB;
}
.login_outer .form-outer .form-inner .form-item form .input-wrapper .icon-svg1 {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.login_outer .form-outer .form-inner .form-item form .login-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.login_outer .form-outer .form-inner .form-item form .login-bottom .checkbox{
	display: flex;
}
/* .checkbox input[type="checkbox"]:checked + .custom-checkbox::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  line-height: 6.87px;
  color: white;
  border: 1.6px solid #FFFFFF
} */
.login_outer .form-outer .form-inner .form-item form .login-bottom .checkbox input{
  /* appearance: none;
  -webkit-appearance: none; */
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.login_outer .form-outer .form-inner .form-item form .login-bottom .checkbox input:checked {
  background: linear-gradient(to right, #00AEEF, #007FC4);
  color: #FFFFFF;
}
.login_outer .form-outer .form-inner .form-item form .login-bottom .checkbox input:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.login_outer .form-outer .form-inner .form-item form .login-bottom .checkbox label {
	display: block;
	color: #1F2937;
	font-weight: 400;
	line-height: 24px;
	text-transform: none;
}
.login_outer .form-outer .form-inner .form-item form .login-bottom .password{
	display: block;
}

.login_outer .form-outer .form-inner .form-item form .login-bottom .password a {
	  background: linear-gradient(to right, #00AEEF, #007FC4);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-clip: text; 
}
.login_outer .form-outer .form-inner .form-item form button {
	display: block;
	width: 490px;
	height: 44px;
	padding: 8px 36px;
	background: linear-gradient(to right, #00AEEF, #007FC4);
	border-radius: 10px;
	border: none;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
}	
/* end login page  */


/* start forgot password page */
.forgot-form-logo {
	width: auto;
	height: 70px;
	overflow: hidden;
	border: 1px solid #F3F4F6;
	background-color: White;
	position: relative;
}
.forgot-form-logo .forgot-logo-img {
	width: 84px;
	height: 45px;
	position: absolute;
	top: 13px;
	left : 60px;
}
.forgot_outer {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.forgot_outer .forgot-bg-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.forgot_outer .forgot-form-outer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 610px;
  height: 446px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 60px 60px 60px;
  background: white;
	border: 1px solid #F3F4F6;
	border-radius: 30px;
}
.forgot_outer .forgot-form-outer .forgot-form-inner {
	display: block;
}
.forgot_outer .forgot-form-outer .forgot-form-inner .forgot-form-item {
	display: block;
}
.forgot_outer .forgot-form-outer .forgot-form-inner .forgot-form-item .icon {
	display: block;
	width: 34px;
	height: 34px;
	margin-bottom: 20px;
}
.forgot_outer .forgot-form-outer .forgot-form-inner .forgot-form-item h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #111827;
  display: block;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5%;
}
.forgot_outer .forgot-form-outer .forgot-form-inner .forgot-form-item p {
	margin-bottom: 50px;
  	color: #4B5563;
  	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
.forgot_outer .forgot-form-outer .forgot-form-inner .forgot-form-item label {
	display: block;
	margin-bottom: 6px;
	font-weight: 500;
	font-size: 16px;
	color: #1F2937;
	line-height: 20px;
	text-transform: capitalize;
	margin-left: 6px;
}
.forgot_outer .forgot-form-outer .forgot-form-inner .forgot-form-item .forgot-emailtext {
  width: 490px;
  height: 52px;
  padding: 6px 14px;
  margin-bottom: 40px;
  border-radius: 12px;
  background-color: #F9FAFB;
  border: none;
}

.forgot_outer .forgot-form-outer .forgot-form-inner .forgot-form-item button {
	display: block;
	width: 490px;
	height: 44px;
	padding: 8px 36px;
	background: linear-gradient(to right, #00AEEF, #007FC4);
	border-radius: 10px;
	border: none;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

/* start reset password page */
.reset-form-logo {
	width: auto;
	height: 70px;
	overflow: hidden;
	border: 1px solid #F3F4F6;
	background-color: White;
	position: relative;
}
.reset-form-logo .reset-logo-img {
	width: 84px;
	height: 45px;
	position: absolute;
	top: 13px;
	left : 60px;
}
.reset_outer {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.reset_outer .reset-bg-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.reset_outer .reset-form-outer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 610px;
  height: 602px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 60px 60px 60px;
  background: white;
	border: 1px solid #F3F4F6;
	border-radius: 30px;
}
.reset_outer .reset-form-outer .reset-form-inner {
	display: block;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item {
	display: block;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .icon {
	display: block;
	width: 34px;
	height: 34px;
	margin-bottom: 20px;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #111827;
  display: block;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5%;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item p {
	margin-bottom: 50px;
  	color: #4B5563;
  	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item label {
	display: block;
	margin-bottom: 6px;
	font-weight: 500;
	font-size: 16px;
	color: #1F2937;
	line-height: 20px;
	text-transform: capitalize;
	margin-left: 6px;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .reset-emailtext1 {
	margin-top: 30px;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .input-wrapper {
  position: relative;
  width: fit-content; 
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .input-wrapper .reset-emailtext {
  width: 490px;
  height: 52px;
  padding: 6px 14px;
  /* margin-bottom: 40px; */
  border-radius: 12px;
  background-color: #F9FAFB;
  border: 1px solid #E5E7EB
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .input-wrapper .icon-svg1 {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .checkbox{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 30px;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .checkbox input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  appearance: none; 
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item .checkbox label {
	display: block;
	color: #1F2937;
	font-weight: 400;
	line-height: 24px;
	text-transform: none;
	margin-bottom: 0;
}
.reset_outer .reset-form-outer .reset-form-inner .reset-form-item button {
	display: block;
	width: 490px;
	height: 44px;
	padding: 8px 36px;
	background: linear-gradient(to right, #00AEEF, #007FC4);
	border-radius: 10px;
	border: none;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}
/* end reset password page */
